<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lijunyan.blackmusic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanActivity"
            android:label="@string/scan_music"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LocalMusicActivity"
            android:label="@string/local_music"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.MusicPlayerService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.PlayerManagerReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.PlayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/PlaylistActivityTheme" />
        <activity
            android:name=".activity.LastMyloveActivity"
            android:label="@string/last_play"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlaylistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PlaylistActivityTheme" />
        <activity
            android:name=".activity.ModelActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ThemeActivity"
            android:label="@string/theme_center"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.AboutActivity"
            android:label="@string/about"></activity>
    </application>

</manifest>